h1{
    text-align: center;
}


.rpt_warn{
    background-color: #FA9A85;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    height: auto;  
}


.auth-form{
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
input[type=text], input[type=password]{
    width: 310px;
}

.btn_auth{
    text-align: center;
}
  
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

.article{
    cursor: pointer;
}

.article_body {
    display: none;
    transition: 5s;
}

.article_image{
    display: flex;
    max-height: 700px;
}

.article_image img {
    object-fit: contain;
  }

.title{
    height: 52%;
    width: 68%;
    border-radius: 10px;
    border: 2px solid rgb(243, 241, 238);
    padding: 1em;

}
.description, .content{
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(243, 241, 238);
    padding: 1em;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}