h1{
    text-align: center;
}


.rpt_warn{
    background-color: #FA9A85;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    height: auto;  
}


.auth-form{
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.btn_auth{
    text-align: center;
  
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}
input[type=text]{
    width: 60%;

}