h1{
    text-align: center;
}

.rpt_warn{
    background-color: #FA9A85;
    color: #fff;
    margin-bottom: 20px;
    height: auto;
    padding: 15px;
}

.auth-form{
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}