{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}



{% block main %}
<div class="rpt_warn">{{msg}}</div>
<div class="card pb-3 mb-5">

    <h5 class="card-header info-color white-text  mb-3 text-center py-4">
        <strong>New Article</strong>
    </h5>

    <form action="/article" method="POST">

        <label for="title"></label>
            <input class="title" name="title" placeholder="Title">
        
        <br>
        <label for="description" class="mb-3 mt-3">
            <textarea class="md-6 description" cols="100" style="max-width:100%;" name="description"
                placeholder="Description"></textarea>
        </label>
        <br>
        <br>
        <label for="content">
            <textarea name="content" id="textarea" rows="15" cols="100" style="max-width:100%;" class="content"
                placeholder="Your Article here..."></textarea>
        </label>
        <br>
        <div class="custom-file mb-3 col-md-3">
            <input type="file" name="image" class="form-control" accept="image/*"  />
        </div>

        <br>

        
        <button class="btn btn-primary" type="submit">Share</button>
    </form>
</div>
{% endblock %}