{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}
   Login
{% block main %}
    <form action="/register" method="post" class="auth-form">
        
        <div class="rpt_warn">{{msg}}</div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="password">
        </div>
        <div class="form-group">
            <input  name="email" class="form-control" placeholder="placeholder" type="email">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit" class="btn_auth">Register</button>
    </form>
{% endblock %}
