{% extends "layout.html" %} {% block title %} View {% endblock %} {% block main
    %}
<div id="articles" class="row">
    <div class="rpt_warn m-4">{{msg}}</div>
    {% for datum in data %}
    <div class="article mb-4 bg-light p-4">
        <div class="article_main row">
            <div class="article-img col-3">
                <img src="{{ datum.image }}" alt="{{ datum.title }}">
            </div>
            <div class="article_head col-9">
                <h3>{{ datum.title }}</h3>
                <p><i>{{ datum.description }}</i></p>
                <h4 class="text-right">- {{ datum.username }}</h4>
                <p class="text-right"><b>Published On: </b>{{ datum.date }}</p>
            </div>
        </div>
        <hr>
        <div class="article_footer">
            {% if datum.like == None %}
          <span class="ml-4"><i class="fas fa-thumbs-up text-primary"></i> 0</span>
            {% else %}
            <span class="ml-4"><i class="fas fa-thumbs-up text-primary"></i> {{ datum.like }}</span>
            {% endif %}
            {% if datum.dislike == None %}
            <span class="ml-4"><i class="fas fa-thumbs-down text-primary"></i> 0</span>
            {% else %}
            <span class="ml-4"><i class="fas fa-thumbs-down text-primary"></i> {{ datum.dislike }}</span>
            {% endif %}
            <a class="ml-4" href="/viewone/{{ datum.id }}"><button class="btn btn-primary text-right">View
                    Article</button></a>
            <a class="ml-4" href="/edit/{{ datum.id }}"><button class="btn btn-primary text-right">Edit</button></a>
            <a class="ml-4" href="/delete/{{ datum.id }}"><button class="btn btn-danger text-right">delete</button></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}